
.rating-color {
	color: yellow;
}

a {
	text-decoration: none;
}

.type {
	color: white;
}

.type i {
	margin-left: 10px;
}

.dropzone {
	border: 2px dashed #ccc;
	padding: 30px;
	text-align: center;
}

.dropzone p {
	margin-bottom: 10px;
}

.compression-settings {
	background-color: #EFF6FF;
	padding: 30px;
	border: solid 1px #73B2FF;
}

.compression-settings span {
	font-size: 11px;
	margin-top: -10px;
}

.compression-settings input {
	width: 70px;
}

#loading-message {
	font-size: 30px;
}

#previewContainer embed {
	margin-left: 20px;
}

.color-blue {
	color: #327FDE;
}

.bg-blue {
	background-color: #327FDE;
}

.bg-light-blue {
	background-color: #EFF6FF;
}

.information i {
	margin: 10px;
}

.information {
	font-size: 15px;
	background-color: white;
	border-radius: 15px;
}

.adjustable_quality {
	padding: 10px;
	border: solid 1px #7bb2f9;
	height: 180px;
	margin-bottom: 15px;
}

#tools ul {
	list-style-type: none;
	font-size: 14px;
}